.hero-container {
  --border: 3px solid black;
  border: var(--border);
  align-content: center;
  width: 280px;
  box-sizing: border-box;
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.74);
  background-color: var(--red);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.boss-container {
  --border: 3px solid black;
  border: var(--border);
  align-content: center;
  width: 280px;
  box-sizing: border-box;
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.74);
  background-color: var(--green);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.hero-image-container,
.hero-biography {
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 1rem 1rem 1rem;
  background-color: beige;
  align-items: stretch;
}

.hero-image {
  width: 100%;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  object-fit: cover;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.hero-name {
  font-family: "Bangers";
  font-size: x-large;
  letter-spacing: 0.05rem;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  border-top: var(--border);
  border-bottom: var(--border);
  color: var(--yellow);
}

.hero-stats {
  position: absolute;
}

#intelligence::-moz-progress-bar {
  background-color: purple;
}

#intelligence::-webkit-progress-value {
  background-color: purple;
}
#intelligence {
  color: purple;
}
#strength::-moz-progress-bar {
  background-color: green;
}
#strength::-webkit-progress-value {
  background-color: green;
}
#strength {
  color: green;
}
#speed::-moz-progress-bar {
  background-color: blue;
}
#speed::-webkit-progress-value {
  background-color: blue;
}
#speed {
  color: blue;
}
#power::-moz-progress-bar {
  background-color: orangered;
}
#power::-webkit-progress-value {
  background-color: orangered;
}
#power {
  color: orangered;
}
