.box {
  margin: 25px;
  width: 250px;
  height: 250px;
  background: #fff;
  border: solid black;
  border-color: black;
  float: left;
}
.box2 {
  width: 350px;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.evenboxinner {
  transform: rotate(2deg);
  margin: 15px;
  padding: 0 5px;
  float: right;
  background: #ddd;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
}
