button:focus {
  animation: neon 1s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
  to {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #ffdd1b,
      0 0 17px #ffdd1b, 0 0 20px #ffdd1b, 0 0 25px #ffdd1b, 0 0 37px #ffdd1b;
  }
}
