:root {
  --red: rgb(191, 66, 55);
  --yellow: rgb(246, 202, 69);
  --green: rgb(107, 173, 92);
  --light-blue: rgb(189, 219, 232);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bangers";
  src: url(/src/assets/font/Bangers-Regular.ttf);
}
@font-face {
  font-family: "Antic";
  src: url(/src/assets/font/Antic-Regular.ttf);
}

