@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: rgb(191, 66, 55);
  --yellow: rgb(246, 202, 69);
  --green: rgb(107, 173, 92);
  --light-blue: rgb(189, 219, 232);
  --purple: rgb(150, 30, 161);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bangers";
  src: url(/src/assets/font/Bangers-Regular.ttf);
}
@font-face {
  font-family: "Antic";
  src: url(/src/assets/font/Antic-Regular.ttf);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("./assets/images/background-hc-mobile.png");
  background-size: cover;
  background-position: center;
  color: black;
}

.start {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.vs-element {
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 75px;
}

.fightimg {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem;
}
/**** Début boutons d'attaque ****/
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2;
  gap: 0.5rem;
  justify-content: center;
  font-family: "Bangers";
  font-size: 1.25rem;
  letter-spacing: 10rem;
  color: white;
  margin: 1rem;
  width: 300px;
}
.buttons button {
  background-color: black;
}
.buttons:focus {
  outline: none;
}
/* gestion des hovers sur les boutons */
.intelligence:hover {
  color: var(--light-blue);
}
.strength:hover {
  color: var(--green);
}
.speed:hover {
  color: var(--red);
}
.power:hover {
  color: var(--purple);
}
/* fin des hovers bouttons */
/* Fin boutons d'attaque */

.hclogo {
  max-width: 5vh;
  margin: 0.75rem;
}

.footer {
  background-color: #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Début du responsive */
@media screen and (orientation: landscape) {
  body {
    overflow: scroll;
    background-image: url("./assets/images/background-hc-desktop.png");
    background-position: center;
    background-size: cover;
    color: black;
  }

  main {
    flex-direction: row;
  }
  .fightimg {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
  }
}

/* Fin du responsive */
