@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Bangers-Regular;
  src: url(/src/assets/font/Bangers-Regular.ttf);
  font-family: ComicNeue-Angular-Regular;
  src: url(/src/assets/font/ComicNeue-Angular-Regular.ttf);
}
body {
  height: 100vh;
  background-image: url("/src/assets/images/istockphoto-515005882-612x612.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  list-style-type: none;
}
p {
  font-family: "ComicNeue-Angular-Regular";
  color: white;
  display: flex;
  flex-direction: column;
}
figcaption h1 {
  font-family: "Bangers-Regular";
}
.start {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.fightimg {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intelligence {
  background-color: purple;
  color: whitesmoke;
}

.intelligence:hover {
  border: 2px solid gold;
}

.intelligence:active {
  box-shadow: inset -2px -2px 3px lightpink, inset 2px 2px 3px black;
}

.strength {
  background-color: green;
  color: whitesmoke;
}

.strength:hover {
  border: 2px solid gold;
}

.strength:active {
  box-shadow: inset -2px -2px 3px lightgreen, inset 2px 2px 3px black;
}

.speed {
  background-color: blue;
  color: whitesmoke;
}

.speed:hover {
  border: 2px solid gold;
}

.speed:active {
  box-shadow: inset -2px -2px 3px lightblue, inset 2px 2px 3px black;
}

.power {
  background-color: orangered;
  color: whitesmoke;
}

.power:hover {
  border: 2px solid gold;
}

.power:active {
  box-shadow: inset -2px -2px 3px lightsalmon, inset 2px 2px 3px black;
}

.buttons {
  display: grid;
  grid: repeat(2, 60px) / auto-flow 80px;
  gap: 0.5rem;
  justify-content: center;
}
.HC-Logo {
  max-width: 15vh;
